<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.nhs.kch.asclepius"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uk.nhs.kch.asclepius.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.nhs.kch.asclepius.CriticalDates"
            android:label="@string/title_activity_critical_dates" >
        </activity>
        <activity
            android:name="uk.nhs.kch.asclepius.Airway"
            android:label="@string/title_activity_airway" >
        </activity>
        <activity
            android:name="uk.nhs.kch.asclepius.Spine"
            android:label="@string/title_activity_spine" >
        </activity>
        <activity
            android:name="uk.nhs.kch.asclepius.Breathing"
            android:label="@string/title_activity_breathing" >
        </activity>
    </application>

</manifest>
